header {
    background-color: black;

    .container {
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h1 {
                color: white;
                cursor: pointer;
            }

            button {
                width: 150px;
                padding: 15px 0;
                border-radius: 10px;
                border: 0;
                cursor: pointer;
                font-size: 20px;
                color: white;
                background-color: blue;
            }

            &_row {
                display: flex;
                align-items: center;
                gap: 30px;

                button:nth-child(1) {
                    background-color: rgb(201, 211, 108);
                }
            }
        }
    }
}